<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
    <div class="wrapper">
        <div>
            <a>변경할 비밀번호</a>
            <label>
                <input th:type="text" th:class="text1" th:name="text1"/>
            </label>
        </div>
        <div>
            <a>비밀번호 확인</a>
            <label>
                <input th:type="text" th:class="text2" th:name="text2"/>
            </label>
        </div>
        <div>
            <button th:class="btn" th:onclick="submit()" >변경</button>
        </div>

        <script th:inline="javascript">
            const email = [[${email}]];

            let button = document.querySelector("button.btn");

            function submit(){
                let text1 = $('.text1').val();
                let text2 = $('.text2').val();

                let data = {
                    email: email,
                    newPw: text1
                }

                console.log(text1);
                console.log(text2);
                if(text1 !== text2){
                    alert("비밀번호가 일치하지 않습니다.");
                }
                else{
                    $.ajax({
                        type: 'PATCH',
                        url: '/api/members/password',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                    }).done((result) => {
                        if(result){
                            alert('비밀번호 수정 완료');
                        }
                    });
                }
            }
        </script>
    </div>
</body>
</html>